---
import BaseLayout from "../layouts/BaseLayout.astro";

import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Section from "../components/Section.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout>

<Navbar />

<Hero />

<Section
  id="about"
  title="ABOUT"
  subtitle="Company thesis goes here."
>
</Section>


<Section
  id="projects"
  title="PROJECTS"
>
</Section>


<Section
  id="founders"
  title="FOUNDERS"
>
</Section>


<Section
  id="contact"
  title="CONTACT"
>
</Section>


<Footer />

</BaseLayout>
