<div class="font-manrope text-body text-lg">

  <!-- boot message -->
  <p class="text-terminal font-mono mb-6">
    &gt; profile_loaded 
  </p>
    <div>
      <p style="text-align: center">
       MLE Consultants are a team of KU physicists with expertise in data science, machine learning, and software development. From start-ups to supercolliders, we specialize in solving open-ended technical problems where no standard solution exists. We apply our research methodology developed through scientific discovery, partnering with innovators to transform ambitious ideas into practical, scalable solutions. 
      </p>
    </div>

</div>
