<div class="font-manrope text-body">

  <!-- boot message -->
  <p class="text-terminal font-mono mb-6">
    &gt; communication_link_established
  </p>


  <!-- intro -->
  <p class="mb-8 text-lg">
    Ready to collaborate on:
  </p>


  <!-- services list -->
  <ul class="mb-10 space-y-2">
    <li>
      <span class="text-terminal">+ </span>
      AI systems
    </li>

    <li>
      <span class="text-terminal">+ </span>
      scientific computing
    </li>

    <li>
      <span class="text-terminal">+ </span>
      custom technical solutions
    </li>
  </ul>


  <!-- communication info -->
  <div class="space-y-5">


    <div>
      <p class="text-terminal text-sm">
        EMAIL
      </p>

      <a
        href="mailto:mle.consultants.llc@gmail.com"
        class="contact-link"
      >
       mle.consultants.llc@gmail.com 
      </a>
    </div>



    <div>
      <p class="text-terminal text-sm">
        CODE
      </p>

      <a
        href="https://github.com/MLE-solutions"
        target="_blank"
        class="contact-link"
      >
       github.com/MLE-solutions 
      </a>
    </div>


    <div>
      <p class="text-terminal text-sm">
        LOCATION
      </p>

      <p>
        Remote / Lawrence, KS
      </p>
    </div>


  </div>

</div>
