<footer
  class="
    border-t
    border-[#284d3c]
    mt-20
    py-8
    text-center
    font-mono
    text-sm
    text-[#9ac98d]
  "
>

  <p>
    🐸 COMPANY_NAME // © {new Date().getFullYear()}
  </p>


  <p class="mt-2 text-[#d8d5cc]">
    Building intelligent systems.
  </p>

</footer>
