---
const links = [
  { name: "ABOUT ", href: "#about" },
  { name: "PROJECTS ", href: "#projects" },
  { name: "FOUNDERS ", href: "#founders" },
  { name: "CONTACT", href: "#contact" },
];
---

<nav
  class="
    sticky
    top-0
    z-50
    border-b
    border-[#284d3c]
    backdrop-blur
    font-mono
  "
>

  <div
    class="
      mx-auto
      max-w-6xl
      px-6
      py-4
      flex
      justify-between
      items-center
    "
  >

    <a
      href="/"
      class="text-mainheading font-sora font-bold"
    >
      MLE CONSULTING
    </a>


    <div class="hidden md:flex gap-6">

      {
        links.map((link) => (
          <a
            href={link.href}
            class="
	      font-manrope
              text-sm
              text-body
              hover:text-interactive
              transition
            "
          >
            {link.name}
          </a>
        ))
      }

    </div>

  </div>

</nav>
