---
import ProjectCard from "./ProjectCard.astro";
---
<!-- boot message -->
<p class="text-terminal font-mono mb-6">
  &gt; projects_executed 
</p>

<div
  class="
    grid
    md:grid-cols-[1fr_auto_1fr]
    gap-8
    items-start
  "
>

</div>
