---
interface Props {
  id?: string;
  title?: string;
  subtitle?: string;
  sectionClass?: string;  
}

const {
  id,
  title,
  subtitle,
  sectionClass: sectionClassName = ""
} = Astro.props;
---

<section
  id={id}
  class={`mx-auto max-w-6xl px-6 py-20 ${sectionClassName}`}
>

  {
    title && (
      <h2
        class="
          text-3xl
          md:text-4xl
          font-sora
          text-secondheading
          mb-4
        "
      >
        {title}
      </h2>
    )
  }


  {
    subtitle && (
      <p
        class="
          text-body
          mb-8
        "
      >
        {subtitle}
      </p>
    )
  }


  <slot />

</section>
